 <h1>User#account_activation</h1>

<p>
 <h2>Sample app</h2>
 <p>Thank you for joining sample app</p>
 <%= @user.activation_token %>
 <p>please <%= link_to "click here", edit_account_activation_url(@user.activation_token, email: @user.email) %> to activate your account</p>
 </p>

